# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# **Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data Science Tools
* List few examples of Arithmetic expressions

Some of  the popular languages that Data Scientist use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. NumPy
4. Pandas

|Data Science Tools|
-------------------
|Apache Spark|
|Jupyter Notebook|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in python

In [8]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sai Swaran Narasimha Kodati